<div id="cont">
    <div class="footer">
        <div class="foot-cols">
            <p><b>©Harshit Srivastava</b></p>
            <address>1/164, Chiranjeev Vihar<br>Ghaziabad, UP<br> PIN:201002</address>
            <p><i>+91 9910190544</i></p><br>
            <p>Project IWP<br> Winter Sem 2020-21</p>
        </div>
        <div class="foot-cols">
            <p><b>Social Media:</b></p>
            <p><a href="https://www.instagram.com/mcieaaka1503/"><img src="/assets/17802016881556105323.svg" width="48px">@mcieaaka1503</a>     </p>
            <p><a href="https://www.linkedin.com/in/harshit-srivastava-92499a184/"><img src="/assets/14206930261556105324.svg">in/harshit-srivastava-92499a184/</a></p>
            <p><a href="https://github.com/hs7979"><img src="/assets/5782357641556105320.svg">/hs7979</a></p>
            <p><img src="/assets/11000231291556105321.svg">harshit0300@gmail.com</p>
        </div>
        <div class="foot-cols">
            <form action="/mesg" method="post">
                <table>
                    <tr ><th colspan="2">Send Me a message:</th></tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="name" ></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" name="email" id=""></td>
                    </tr>
                    <tr>
                        <td>Message:</td>
                        <td rowspan="3"><textarea name="mesg"></textarea></td>
                    </tr>
                </table>
                <input class="bt-ft" type="submit">
            </form>
        </div>
        <div class="foot-cols">
            <p><b>Visit SIAM-VIT:</b></p>
            <p><a href="https://www.instagram.com/siamvit/"><img src="/assets/17802016881556105323.svg" width="48px">@siamvit</a>     </p>
            <p><a href="https://www.linkedin.com/company/siam-vit"><img src="/assets/14206930261556105324.svg">/company/siam-vit</a></p>
            <p><a href="https://github.com/SIAM-VIT"><img src="/assets/5782357641556105320.svg">/SIAM-VIT</a></p>
            <p><a href="http://www.siamvit.in/"><img src="/assets/1873373.svg" width="48px">siamvit.in</a></p>
        </div>
    </div>
</div>
</body>
</html>