<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/adpages.css">
<div class="ubody">
    <% u.reverse().forEach(function(el){%>
        <div class="ucard">
            <p>Name: <%=el.username%></p>
            <p><a class="bt" id="suc" href="/user/<%=el._id%>">More</a></p>
        </div>
    <%})%>
</div>
<%- include ('./partials/footer.ejs') %>
