<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/adpages.css">
<div class="cform">
    <h2><i>Create a Course</i></h2>
    <form method="post" action="/admin/newcourse">
        <table>
            <tr>
                <td>Course Name:</td>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <td>Course Description:</td>
                <td><textarea name="description" required></textarea></td>
            </tr>
        </table>
        <p><input type="submit" class="bt" id="suc"></p>
    </form>
</div>
<script>
    var e = document.getElementById("suc");
    e.addEventListener("click", function(){
        confirm("Are you Sure? No changes can be done in the future.")
    })
</script>
<%- include ('./partials/footer.ejs') %>
