<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/adpages.css">
<div class="cform">
    <h2>Enter Lecture Details:</h2>
    <form action="/admin/addlectures/<%=cid%>" method="post">
        <table>
            <tr>
                <td>Title:</td>
                <td><input type="text" name="name" required></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" name="description" required></td>
            </tr>
            <tr>
                <td>Instructor:</td>
                <td><input type="text" name="inst" required></td>
            </tr>
            <tr>
                <td>Video Link:</td>
                <td><input type="text" name="link" required></td>
            </tr>
        </table>
        <p><input onclick="return check()" type="submit" class="bt" id="suc"></p>
    </form>
</div>

<script>
 function check(){
        return confirm("Are you Sure? No changes can be done in the future.")
    }
</script>
<%- include ('./partials/footer.ejs') %>