<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/adctrl.css">
<div class="action">
    <h2><i>Admin Actions</i></h2>
    <a class="bt" id="suc" href="/admin/newcourse">ADD COURSE</a>
    <a class="bt" id="warn" href="/admin/addlectures">ADD LECTURES</a>
    <a class="bt" id="del" href="#ADD">DELETE COURSE</a>
    <a class="bt" id="info" href="/admin/allusers">SEE USERS</a>
    <a class="bt" id="mesg" href="/admin/messages">MESSAGES</a>
</div>
<%- include ('./partials/footer.ejs') %>