<%- include ('./partials/header.ejs') %>
<div class="landing" id="home">
    <div id="tex">
        Are you ready to dive into the world of Coding?
    </div>
    <script src="stylesheets/main.js"></script>
    </div>
    <div id="course">
    <div class="row">
        <div class="col-6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis dolorem recusandae, ab maxime, natus exercitationem laborum error laboriosam cumque quidem? Omnis in reiciendis illo. Quos laboriosam quam tempora harum?
        Placeat voluptatum consequuntur blanditiis soluta amet ex esse laboriosam exercitationem deserunt et quasi aliquid veritatis aspernatur, facilis tempore ab dolor minima suscipit magni commodi. Tempore tenetur neque obcaecati maiores illum!</p></div>
        <div class="col-6">
            <div class="card">
                <h3>Web Dev</h3>
                <ul>
                    <li>Html/Css/JS</li>
                    <li>Git</li>
                    <li>Node, Express, Mongo</li>
                    <li>Django/Flask</li>
                    <li>React/Angular</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <h3>App Dev</h3>
                <ul>
                    <li>Java/Kotlin</li>
                    <li>Flutter</li>
                    <li>Firebase</li>
                    <li>Swift for ios</li>
                    <li>React Native</li>
                </ul>
            </div>
        </div>
        <div class="col-6"><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum atque, provident unde deserunt dolore molestiae consequuntur aspernatur eligendi eveniet cum libero quas quisquam saepe dolor dicta consectetur in nostrum repellat?
        Modi voluptatem placeat architecto, odit recusandae culpa dicta sunt dolorum ad eveniet omnis minus at officiis! A tempora nobis nihil reiciendis repellat maxime sed totam, ratione corporis assumenda adipisci neque.</p></div>
    </div>
    <div class="row">
        <div class="col-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptate et culpa molestiae ex officiis natus provident veniam est, molestias aliquid, quibusdam, velit labore sed aperiam sit voluptatum suscipit impedit.
        Vel earum eum, voluptate expedita asperiores veniam culpa hic corporis magnam dolores eligendi provident consectetur voluptas, enim tempore alias? Dignissimos cupiditate dicta ratione quis pariatur sequi. Ratione inventore quidem voluptatibus?</p></div>
        <div class="col-6">
            <div class="card">
                <h3>ML</h3>
                <ul>
                    <li>Python and Libraries</li>
                    <li>Regression</li>
                    <li>KNN</li>
                    <li>Neural Networks</li>
                    <li>Web Integration</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <h3>Competitive</h3>
                <ul>
                    <li>DSA</li>
                    <li>C</li>
                    <li>C++ and STL</li>
                    <li>Java and Classes</li>
                    <li>Python</li>
                </ul>
            </div>
        </div>
        <div class="col-6"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident laborum voluptate rerum blanditiis, officiis ad. Sint error exercitationem, voluptatum voluptatibus pariatur saepe nostrum placeat eius commodi ipsam. Velit, libero reprehenderit?
        Magnam libero quidem fugit nobis, enim, natus maiores, quae omnis dignissimos vitae facere dicta consequuntur ad quisquam non? Voluptas minus cumque at laboriosam perspiciatis veritatis repudiandae aliquid amet provident doloremque.</p></div>
    </div>
    </div>
    <div id="create">
        <div class="about">
            <h2>About the Creator</h2>
            <div class="row">
                <div class="col-6"><img  id="abimg" src="https://media-exp1.licdn.com/dms/image/C4E03AQFc8O59rC3iiQ/profile-displayphoto-shrink_800_800/0/1594883318756?e=1626307200&v=beta&t=jV7-bb-KvWZrL9imL0XBC1fCRlbHtTnbY9L1rKcS6kw" width="400px"></div>
                <div class="col-6">
                    <h3>Hi there, My name is Harshit Srivastava!</h3>
                    <p>
                        I am currently the <i><b>Technical and Research Head at SIAM-VIT</b></i>, an international student chapter in VIT, Vellore.
                        <br>Currently, a second year, B.tech. student of Computer Science and Technology, I am an enthusiastic learner who believes in working hard and never giving up. My areas of interest majorly involve<b> Deep Learning, Data Mining and Web Development</b>. <br><br>Mathematics has always been my favourite subject and i intend to use <b>applied maths</b> to resolve day to day problems. Music has always been my hobby. I am also a <b>Tabla player</b>. The most important principle of my life is<b> Punctuality and honesty</b>.<br><br> My motto is, <b>"Endure and Fight"</b>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div id="clock">
        00:00:00
    </div>
</div>
<%- include ('./partials/footer.ejs') %>