.signup{
    margin-top: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}
.bt.bt-sub{
    border: 2px solid red;
    border-radius: 40px;
    background-color: rgba(0,0,0,0);
    padding:10px 40px;
    color: azure;
}
.bt.bt-sub:hover{
    background-color: red;
}
.lb{
    text-align: center;
    font-style: italic;
    font-size: large;
    margin:5% 10%;
    width: min-content;
}
.in{
    text-align: center;
    width: min-content;
    padding: 5% 10%;
}
.stb{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input:focus{
    width: 100%;
}
.login{
    margin-top: 5%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 75vh;
}